.brands {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px auto;
}

.brands form {
  width: 290px;
  margin-bottom: 20px;
  border-bottom: #555;
}

.txt_field {
  border: #555;
}

.brands label {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.brands form button {
  border-radius: 2px;
  width: 210px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.brands input,
button {
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
}

.brands input {
  width: 210px;
}

.brands button {
  width: 70px;
  background: #555;
  color: white;
  margin-left: 10px;
}

.brands .row {
  min-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
